﻿<div ng-controller="AttachmentUploadController"
     data-attachments-path="@Url.Action("Create", "Attachment", new {area = "Attachment"})"
     data-initial-attachment-id='@ViewData["attachmentId"]'
     data-initial-attachment-name='@ViewData["attachmentName"]'>
    <input type="file" id='@ViewData["id"]' name='@ViewData["id"]' class="file" fileupload-on-change="OnFileUploadChange" ng-hide="FileUploaded" />
    <div ng-show="FileUploaded">
        <a ng-href="{{AttachmentPath()}}">{{Filename()}}</a>
        <button type="button" class="btn btn-danger btn-xs" ng-click="DeleteFile()" title="Delete file {{Filename()}}">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
</div>
