﻿<h2>Due Jobs</h2>

<table>
    <thead>
    <tr>
        <th>Run at</th>
        <th>Title</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        {0}
    </tbody>
</table>

<h2>Expired Jobs</h2>

<table>
    <thead>
        <tr>
            <th>Run at</th>
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {1}
    </tbody>
</table>