﻿@model PagedList.IPagedList<Warehouse.Models.Client>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Clients";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Create new client", "New", "Clients", new { @class = "btn btn-primary" })
</div>

<div style="margin-top: 10px; margin-bottom: 10px;">
    <table class="table documents-listing">
        <tr>
            @{var dummy = Model.FirstOrDefault(); }
            <th>
                @Html.DisplayNameFor(model => dummy.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
                        <button class="btn btn-danger"
                                data-toggle="modal" data-target="#delete_alert_@(item.Id)">
                            Delete
                        </button>
                    </div>
                    @Html.Partial("~/Views/Shared/_DeleteConfirmation.cshtml", new ViewDataDictionary
                {
                    { "popupId", $"delete_alert_{item.Id}" },
                    { "itemId", item.Id },
                    { "itemName", item.Name },
                    { "controller", "Clients" },
                    { "type", "client" }
                })
                </td>
            </tr>
        }
    </table>

    <div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
