﻿@model Warehouse.Models.Client

@{
    ViewBag.Title = "Client";
}

<h2>New</h2>

@using (Html.BeginForm(Model?.Id >= 0 ? "Update" : "Create", "Clients"))
{
    @Html.AntiForgeryToken()
    if (Model?.Id >= 0)
    {
        @Html.Hidden("_method", "put")
    }

    <div class="form-horizontal">
        <h4>@ViewBag.Title</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Address, 3, 1, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        @if (Model != null)
        {
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Branches, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (Model?.Branches != null)
                    {
                        <table class="table documents-listing">
                            <tr>
                                @{ var dummy = Model.Branches.FirstOrDefault(); }
                                <th>
                                    @Html.DisplayNameFor(model => dummy.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => dummy.City)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.Branches)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            @Html.ActionLink("Edit", "Edit", "Branches", new { area = "Setting", clientId = Model.Id, id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
                                            <button class="btn btn-danger"
                                                    data-toggle="modal" data-target="#delete_alert_@(item.Id)">
                                                Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                                    }
                    <div>
                        @Html.ActionLink("Create new branch", "New", "Branches", new { area = "Setting", clientId = Model.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
                                    }
    </div>
                                    }

@if (Model?.Branches != null)
{
    foreach (var item in Model.Branches)
    {
        @Html.Partial("~/Views/Shared/_DeleteConfirmation.cshtml", new ViewDataDictionary
                                        {
                                            {"popupId", $"delete_alert_{item.Id}"},
                                            {"itemId", item.Id},
                                            {"itemName", item.Name},
                                            {"controller", "Branches"},
                                            {"type", "branch"}
                                        })
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
