﻿body {
    padding-top: 50px;
    padding-bottom: 20px;

    font-family: 'Montserrat', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse a.navbar-brand {
    background-image: url(warehouse-logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    display: block;
    width: 200px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
}
