﻿@model Warehouse.Areas.DocStore.Models.Document

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Document</h2>

@using (Html.BeginForm(Model?.Id >= 0 ? "Update" : "Create", "Document"))
{
    @Html.AntiForgeryToken()
    if (Model?.Id >= 0)
    {
        @Html.Hidden("_method", "put")
    }

    <div class="form-horizontal">
        <h4>Document</h4>
        <hr />
        <div class="form-group">
            @Html.Label("FileUpload", "Select file", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Partial("~/Areas/Attachment/Views/Shared/AttachmentUpload.cshtml", new ViewDataDictionary
                {
                    { "id", "FileUpload" },
                    { "attachmentId", Model?.AttachmentId },
                    { "attachmentName", Model?.Attachment?.OriginalFilename }
                })
                @Html.HiddenFor(model => model.AttachmentId, new { require_validation = true })
                @Html.Hidden("DeletedAttachmentIds")
                @Html.ValidationMessageFor(model => model.AttachmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", rows = 3 })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Published)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, null, "Select Category", htmlAttributes: new
           {
               @class = "form-control",
               @data_widget_type = "WidgetCategorySelector",
               @data_subcategory_element_id = "subcategory",
               @data_all_subcategories_element_id = "allSubcategories"
           })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubcategoryId, "Subcategory", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SubcategoryId, null, "Select Subcategory", htmlAttributes: new
           {
               @class = "form-control",
               @data_element_id = "subcategory",
               @data_pre_selected = @Model?.SubcategoryId
           })
                @Html.ValidationMessageFor(model => model.SubcategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (ViewBag.ClientList != null)
        {
            <div class="form-group">
                @Html.Label("OwnerClientId", "Owner", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Partial("~/Areas/DocStore/Views/Shared/ClientBranchSelector.cshtml", new ViewDataDictionary
                {
                    {"ClientFieldName", "OwnerClientId"},
                    {"BranchFieldName", "OwnerBranchId"},
                    {"ClientList", ViewBag.ClientList},
                    {"SelectedBranch", ViewBag.OwnerBranchId}
                })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<select class="hidden" data-element-id="allSubcategories">
    @foreach (var subcategory in ViewBag.AllSubcategories)
    {
        <option value="@subcategory.Id" data-parent-category="@subcategory.CategoryId">
            @subcategory.Name
        </option>
    }
</select>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/DocStore")
    @Scripts.Render("~/bundles/Attachment/Attachment")
}
