﻿@model Warehouse.Areas.DocStore.Models.Subcategory

@{
    ViewBag.Title = "New";
}

<h2>New</h2>


@using (Html.BeginForm(Model?.Id >= 0 ? "Update" : "Create", "Subcategories", new { categoryId = ViewBag.categoryId, id = Model?.Id }))
{
    @Html.AntiForgeryToken()
    if (Model?.Id >= 0)
    {
        @Html.Hidden("_method", "put")
    }

    <div class="form-horizontal">
        <h4>Subcategory for Category <strong>@ViewBag.categoryName</strong></h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Category", "Show", "Categories", new { area = "Setting", id = ViewBag.categoryId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
