﻿@model PagedList.IPagedList<Warehouse.Areas.Compliance.Models.Task>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Tasks";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New Task", "New", "Tasks", new { @class = "btn btn-primary" })
</p>

<div style="margin-top: 10px; margin-bottom: 10px;">
    <table class="table">
        <tr>
            @{var dummy = Model.FirstOrDefault(); }
            <th>
                @Html.DisplayNameFor(model => dummy.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.ResponsibleUser.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Schedule)
            </th>
            <th>
                @Html.DisplayName("Next run at")
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Completed)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsibleUser.Fullname)
                </td>
                <td>
                    @item.Schedule.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.FirstOrDefault().RunAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                        @*edit|delete|mark as completed*@
                </td>
            </tr>
        }
    </table>

    <div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>