﻿@using Warehouse.Areas.Compliance.Libs
@model Warehouse.Areas.Compliance.Models.Task

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm(Model?.Id >= 0 ? "Update" : "Create", "Tasks"))
{
    @Html.AntiForgeryToken()
    if (Model?.Id >= 0)
    {
        @Html.Hidden("_method", "put")
    }

    <div class="form-horizontal" ng-init="scheduleType='@(Model?.Schedule.Type)'">
        <h4>Task</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ResponsibleUserId, "Responsible User", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ResponsibleUserId, (SelectList)ViewBag.users, "Select responsible user", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResponsibleUserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 3, 1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Schedule", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="radio">
                    <label>
                        @Html.RadioButton("scheduleType", ScheduleTypes.Once, htmlAttributes: new { ng_model = "scheduleType" })
                        Once
                    </label>
                </div>
            </div>
        </div>
        @{
            Schedule schedule;
            if (Model != null)
            {
                schedule = Model.Schedule;
            }
            else
            {
                schedule = new Schedule();
                schedule.CreateEmptySchedule();
            }
            var scheduleValue = schedule.GetValue();
        }
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.TextBox("scheduleRunAt", schedule.Type == ScheduleTypes.Once ? (string)scheduleValue["runAt"] : null, htmlAttributes: new { @class = "form-control", type = "text", datetype = "datetime", ng_disabled = $"scheduleType!='{ScheduleTypes.Once}'" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="radio">
                    <label>
                        @Html.RadioButton("scheduleType", ScheduleTypes.Repeative, htmlAttributes: new { ng_model = "scheduleType" })
                        Repeative
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                Start date
                @Html.TextBox("scheduleStart",
               schedule.Type == ScheduleTypes.Repeative ? (string)scheduleValue["start"] : null,
               htmlAttributes: new { @class = "form-control", type = "text", datetype = "date", ng_disabled = $"scheduleType!='{ScheduleTypes.Repeative}'" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                End date
                @Html.TextBox("scheduleEnd",
               schedule.Type == ScheduleTypes.Repeative ? (string)scheduleValue["end"] : null,
               htmlAttributes: new { @class = "form-control", type = "text", datetype = "date", ng_disabled = $"scheduleType!='{ScheduleTypes.Repeative}'" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                Cron expression
                @Html.TextBox("scheduleCron",
                    schedule.Type == ScheduleTypes.Repeative ? (string)scheduleValue["cron"] : null,
                    htmlAttributes: new { @class = "form-control", ng_disabled = $"scheduleType!='{ScheduleTypes.Repeative}'" })
            </div>
        </div>

        @if (Model != null)
        {
            <div class="form-group">
                @Html.Label("Next run at", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="form-control-static">@Model.Job.FirstOrDefault().RunAt</div>
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Completed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Completed)
                </div>
                @Html.ValidationMessageFor(model => model.Completed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
            }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/datetimepicker")
}

<script>
    $(function () {
        $('input[datetype=date]').datepicker({
            dateFormat: 'yy/mm/dd'
        });

        $('input[datetype=datetime]').datetimepicker({
            format: 'YYYY/MM/DD HH:mm'
        });
    });
</script>
