﻿@model Warehouse.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    @ng_controller = "RegisterUserController",
    @data_clients_path = @Url.Action("Index", "ApiClients"),
    @data_branches_path = @Url.Action("Index", "Branch")
}))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr/>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Role, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Role, Model.Roles, "Select Role", htmlAttributes: new
            {
                @class = "form-control",
                @ng_model = "SelectedRole",
                @ng_change = "OnRoleSelectionChange()"
            })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Fullname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" ng-show="ShowClientSelection()">
        @Html.LabelFor(m => m.ClientId, "Client", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ClientId, Enumerable.Empty<SelectListItem>(), "Select Client", htmlAttributes: new
       {
           @class = "form-control",
           @ng_model = "SelectedClient",
           @ng_change = "OnClientSelectionChange()",
           @ng_options = "client as client.Name for client in Clients track by client.Id"
       })
        </div>
    </div>
    <div class="form-group" ng-show="ShowBranchAsDropdown()">
        @Html.Label("BranchIds", "Branch", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("BranchIds", Enumerable.Empty<SelectListItem>(), "Select Branch", htmlAttributes: new
       {
           @class = "form-control",
           @ng_model = "SelectedBranches",
           @ng_options = "branch as branch.Name for branch in Branches track by branch.Id"
       })
        </div>
    </div>
    <div class="form-group" ng-show="ShowBranchAsCheckboxes()">
        @Html.Label("BranchIds", "Branches", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <div class="checkbox col-lg-2" ng-repeat="branch in Branches track by branch.Id">
                <label><input type="checkbox" name="BranchIds" value="{{branch.Id}}" />{{branch.Name}}</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Account")
}
